/*-- scss:defaults --*/

$primary: #385898 !default;
$presentation-title-slide-text-align: left;
$body-bg: #f9f8f3;

#title-slide .title {
  font-size: 2.75rem !important;
  font-weight: 700 !important;
}

#title-slide .subtitle {
  font-size: 1.75rem;
  font-weight: 300;
}

#title-slide .quarto-title-author-name {
  font-size: 2.0625rem;
  font-weight: 400;
  margin-top: 2rem;
}

#title-slide .date {
  font-size: 1.5rem;
  font-weight: 400;
}

.reveal h1 {
  font-size: 4rem !important;
}

.reveal h2 {
  font-weight: 600 !important;
  font-size: 3rem !important;
  margin-bottom: 2rem !important;
}

.reveal pre {
  font-size: 1.25rem !important;
  line-height: 1.45 !important;
}

.reveal figcaption {
  text-align: center !important;
}

.reveal blockquote p {
  font-size: 1.65rem;
}

/*-- scss:rules --*/

@font-face {
  font-display: swap;
  font-family: "Lato";
  src: url("../../../../../fonts/Lato-VF.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Lato";
  src: url("../../../../../fonts/Lato-Italic-VF.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  src: url("../../../../../fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}