/*-- scss:defaults --*/

$primary: #385898 !default;
$presentation-title-slide-text-align: left;

#title-slide .title {
  font-size: 3.25rem !important;
  font-weight: 300 !important;
}

#title-slide .subtitle {
  font-size: 2rem;
  font-weight: 400;
}

#title-slide .quarto-title-author-name {
  font-size: 2.125rem;
  font-weight: 300;
  margin-top: 2rem;
}

#title-slide .date {
  font-size: 1.5rem;
  font-weight: 300;
}

.reveal h1 {
  font-size: 4rem !important;
  color: #FFFFFF !important;
}

.reveal h2 {
  font-size: 2.375rem !important;
  margin-bottom: 2rem !important;
}

/*-- scss:rules --*/

@font-face {
  font-display: swap;
  font-family: "Lato";
  src: url("../../../../../fonts/Lato-VF.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Lato";
  src: url("../../../../../fonts/Lato-Italic-VF.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  src: url("../../../../../fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}